@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
h1,
.h1 {
  margin: 20px;
}

.container {
  border-radius: 5px;
  display: flex;
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
.col1 {
  background-color: lawngreen;
  min-height: 100%;
  text-align: center;
}

.col2 {
  padding: 5px;
  max-height: 60vh;
  min-height: 60vh;
  background-color: lightcoral;
  overflow-y: auto;
  overflow-x: hidden;
}

.img {
  animation-name: img;
  animation-duration: 1s;
  width: 14rem;
}

@keyframes img {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

@media screen and (max-width: 920px) {
  .container {
    overflow: scroll;
    min-width: 100vw;
  }
  h3,
  .h3 {
    font-size: 2.1rem;
  }
  h6,
  .h6 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .col2 {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  h1,
  .h1 {
    margin-top: -5px;
    margin-bottom: 5px;
  }
  h6,
  .h6 {
    font-size: 0.6rem;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .img {
    margin-top: -50px;
  }
  .arrow {
    margin-top: -5px 10px 5px;
  }
  h1,
  .h1 {
    margin-top: -5px;
    margin-bottom: 5px;
  }
  h3,
  .h3 {
    margin-top: -55px;
  }
  .col2 {
    margin-bottom: 5px;
    min-width: 100%;
    min-height: 10vh;
    max-height: 20vh;
  }
  .btn-container {
    padding: 0px;
  }
  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
