@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.containers {
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f5f5f5;
}

.pokecard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1 {
  margin-right: 15px;
}
.btn2 {
  margin-left: 15px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}

.card-container {
  margin: 5px;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
}

.card {
  width: 14rem;
  transition: 0.1s;
  border-radius: 3%;
  -webkit-box-shadow: -4px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 10px 30px 0px rgba(0, 0, 0, 0.75);
}
.card:hover {
  font-size: 3.3rem;
  border: 3px solid red;
  margin: 10px;
  transform: scale(1.1);
  -webkit-box-shadow: -7px 6px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 6px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 6px 14px -1px rgba(0, 0, 0, 0.75);
}
.card-title {
  text-align: center;
  font-size: 17px;
}

.btn1 {
  border-radius: 100%;
}

.btn2 {
  border-radius: 100%;
}

@media screen and (max-width: 920px) {
  .containers {
    min-height: 100vh;
  }
  .card {
    width: 9rem;
  }

  .card-title {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .containers {
    min-height: 90vh;
    padding-bottom: 20%;
    text-align: center;
    border: 1px solid red;
  }
  .col {
    margin: 0px 0px 0px -5px;
  }
  .pokecard {
    display: inline-block;
  }
  .card {
    width: 8.6rem;
  }
  .card:hover {
    transform: scale(1.1);
  }

  .card-title {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 480px) {
  .containers {
    min-height: 100vh;
  }
  .pokecard {
    padding-top: 2rem;
  }
  .col {
    margin: 2rem 0 2rem 0;
    flex-direction: column;
  }

  .card {
    width: 17rem;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    text-align: center;
    font-size: 1rem;
  }
}
