@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?cw156v');
  src: url('icomoon.eot?cw156v#iefix') format('embedded-opentype'),
    url('icomoon.ttf?cw156v') format('truetype'),
    url('icomoon.woff?cw156v') format('woff'),
    url('icomoon.svg?cw156v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-outline-left:before,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  content: '\e900';
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.icon-cheveron-outline-left:hover {
  color: red;
  font-size: 3.3rem;
  transform: scale(1.1);
  text-decoration: none;
}

.icon-cheveron-outline-right:before,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  content: '\e901';
  cursor: pointer;
  transition: 0.5s;
}

.icon-cheveron-outline-right:hover {
  color: red;
  font-size: 3.3rem;
  transform: scale(1.1);
}

@media screen and (max-width: 920px) {
  .icon-cheveron-outline-left:before {
    content: '\e900';
    cursor: pointer;
    transition: 0.2s;
    font-size: 2rem;
  }
  .icon-cheveron-outline-left:hover {
    color: red;
    font-size: 3.3rem;
  }

  .icon-cheveron-outline-right:before {
    content: '\e901';
    cursor: pointer;
    transition: 0.2s;
    font-size: 2rem;
  }
  .icon-cheveron-outline-right:hover {
    color: red;
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 768px) {
  .icon-cheveron-outline-left:before {
    content: '\e900';
    cursor: pointer;
    transition: 0.2s;
    font-size: 2rem;
  }
  .icon-cheveron-outline-left:hover {
    color: red;
    font-size: 3.3rem;
  }

  .icon-cheveron-outline-right:before {
    content: '\e901';
    cursor: pointer;
    transition: 0.2s;
    font-size: 2rem;
  }
  .icon-cheveron-outline-right:hover {
    color: red;
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 480px) {
  .icon-cheveron-outline-left:before {
    content: '\e900';
    cursor: pointer;
    transition: 0.2s;
    font-size: 2rem;
  }
  .icon-cheveron-outline-left:hover {
    color: red;
    font-size: 4.3rem;
  }

  .icon-cheveron-outline-right:before {
    content: '\e901';
    cursor: pointer;
    transition: 0.2s;
    font-size: 2rem;
  }
  .icon-cheveron-outline-right:hover {
    color: red;
    font-size: 4.3rem;
  }
}
